@model MVCFood.Areas.Admin.AdminViewModels

@{
    ViewBag.Title = "Products";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>

<p>
    @Html.ActionLink("Create New", "CreateProducts")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            UnitPrice
        </th>
        <th>
            PromotionPrice
        </th>
        <th>
            Image
        </th>
        <th>
           DateEntered
        </th>
        <th>
          Quantum
        </th>
        <th>
          TypeProductId
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.AllProduct) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromotionPrice)
        </td>
        <td>
            <img src="~/Assets/Personal/image/Product/@item.Image" style="width:100%"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEntered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeProductId)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditProducts", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteProducts", new { id=item.Id })
        </td>
    </tr>
}

</table>
